.vscode/**
.vscode-test/**
out/**
node_modules/**
examples/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
tsconfig.json
CODEOWNERS
.github/**
src/**
!src/main/snippets/**
!src/main/l10n/**
 
 
 
